.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.diagramsColumn {
    display: flex;
    flex-direction: column;
}
.diagramsRow {
    display: flex;
}
.aside {
    display: flex;
    flex-direction: column;
    width: 20%;
}
