.profil {
    margin: 2em auto;
}
h1 {
    color: #e60000;
    text-align: center;
    font-size: 2em;
}

.button__Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.button {
    border-radius: 10px;
    border: none;
    padding: 0.5em;
    font-size: 1em;
    transition: transform 0.5s; /* Ajoute une transition fluide */
}
.button:hover {
    background-color: #e60000;
    color: #fff;
    transform: scale(1.1); /* Agrandit le bouton de 10% au survol */
}
