.community {
    margin: 3em auto;
    object-fit: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.community__link {
    color: #e60000;
    text-decoration: none;
    font-weight: 700;
}
/*.reglage {
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    gap: 1em;
}
button {
    border-radius: 10px;
    border: none;
    padding: 0.5em;
    font-size: 1em;
    transition: transform 0.5s; 
}
button:hover {
    background-color: red;
    color: #fff;
    transform: scale(1.1); 
}*/
